html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 1fr 5%;
  gap: 0px 0px;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  background-image: url(purty_wood.png);
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.left {
  grid-area: left;
}

.fields {
  grid-area: center;
  display: flex;
  flex-direction: column;
}

.row {
  height: calc(100% / 8);
  display: flex;
}

.row > div {
  width: calc(100% / 8);
}

.row:nth-child(odd) > div:nth-child(odd) {
  background: #d68204;
  mix-blend-mode: color-burn;
  opacity: 50%;
}

.row:nth-child(odd) > div:nth-child(even) {
  background: #4a3c25;
  mix-blend-mode: luminosity;
  opacity: 60%;
}
.row:nth-child(even) > div:nth-child(odd) {
  background: #4a3c25;
  mix-blend-mode: luminosity;
  opacity: 60%;
}

.row:nth-child(even) > div:nth-child(even) {
  background: #d68204;
  mix-blend-mode: color-burn;
  opacity: 50%;
}

.right {
  grid-area: right;
}

.marks {
  display: flex;
  align-items: stretch;
}
.marks > ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.left > ul,
.right > ul {
  flex-direction: column-reverse;
}

.left > ul > li,
.right > ul > li {
  height: calc(100% / 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > ul > li,
.bottom > ul > li {
  width: calc(100% / 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top,
.bottom {
  margin: 0 5%;
}
