html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 80vmin;
  width: 80vmin;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 1fr 5%;
  gap: 0px 0px;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.left {
  grid-area: left;
}

.fields {
  grid-area: center;
  display: flex;
  flex-direction: column;
}

.row {
  height: calc(100% / 8);
  display: flex;
}

.row > div {
  width: calc(100% / 8);
}

.row:nth-child(odd) > div:nth-child(odd) {
  background: white;
}

.row:nth-child(odd) > div:nth-child(even) {
  background: black;
}
.row:nth-child(even) > div:nth-child(odd) {
  background: black;
}

.row:nth-child(even) > div:nth-child(even) {
  background: white;
}

.right {
  grid-area: right;
}

.marks {
  display: flex;
  align-items: stretch;
}
.marks > ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.left > ul,
.right > ul {
  flex-direction: column-reverse;
}
