html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 1fr 5%;
  gap: 0px 0px;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  background-image: url(purty_wood.png);
  position: absolute;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.left {
  grid-area: left;
}

.fields {
  grid-area: center;
  display: flex;
  flex-direction: column;
}

.row {
  height: calc(100% / 8);
  display: flex;
}

.row > div {
  width: calc(100% / 8);
}

.row:nth-child(odd) > div:nth-child(odd) {
  background: #d68204;
  mix-blend-mode: color-burn;
  opacity: 50%;
}

.row:nth-child(odd) > div:nth-child(even) {
  background: #4a3c25;
  mix-blend-mode: luminosity;
  opacity: 60%;
}
.row:nth-child(even) > div:nth-child(odd) {
  background: #4a3c25;
  mix-blend-mode: luminosity;
  opacity: 60%;
}

.row:nth-child(even) > div:nth-child(even) {
  background: #d68204;
  mix-blend-mode: color-burn;
  opacity: 50%;
}

.right {
  grid-area: right;
}

.marks {
  display: flex;
  align-items: stretch;
}
.marks > ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.left > ul,
.right > ul {
  flex-direction: column-reverse;
}

.left > ul > li,
.right > ul > li {
  height: calc(100% / 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > ul > li,
.bottom > ul > li {
  width: calc(100% / 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top,
.bottom {
  margin: 0 5%;
}
/*Styling the 3D board*/

.rotate {
  perspective: 2000px;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.board {
  position: relative;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
}
.front {
  width: 80vmin;
  height: 80vmin;
  border: 1px solid red;
  transform: translateZ(25vmin);
}
.left {
  width: 20vmin;
  height: 80vmin;
  border: 1px solid green;
  transform: translateX(25vmin) rotateY(90deg);
}
.back {
  width: 80vmin;
  height: 80vmin;
  border: 1px solid blue;
  transform: translateZ(-25vmin);
}
.right {
  width: 20vmin;
  height: 80vmin;
  border: 1px solid darkgoldenrod;
  transform: translateX(-25vmin) rotateY(90deg);
}
.top {
  width: 80vmin;
  height: 20vmin;
  border: 1px solid magenta;
  transform: translateY(-25vmin) rotateX(90deg);
}
.bottom {
  width: 80vmin;
  height: 20vmin;
  border: 1px solid orange;
  transform: translateY(25vmin) rotateX(90deg);
}
